.recaptcha {
	margin-top: 5%;
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 400px) {
	.recaptcha {
	transform:scale(0.7);
	transform-origin:0;
	-webkit-transform:scale(0.7);
	transform:scale(0.7);
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.recaptcha {
		transform:scale(0.7);
		transform-origin:0;
		-webkit-transform:scale(0.7);
		transform:scale(0.7);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.recaptcha {
		transform:scale(0.7);
		transform-origin:0;
		-webkit-transform:scale(0.7);
		transform:scale(0.7);
		-webkit-transform-origin:0 0;
		transform-origin:0 0;
	}
}
